*{
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	background: url(../img/bg3.jpg) 0% 30%  no-repeat ;
	background-size: cover; 
}

header{
	background-color:#C0C0C0; /*#808080*/
	border-bottom: 3px solid #CD853F;
}

.container{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.nav{
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
}

.nav_item{
	padding-right: 20px;

}

.nav_item a{
	border-bottom: 2px solid #FFE4B5;
	padding-bottom: 3px;
}

.nav_item a{
	text-decoration: none;
	text-transform: uppercase;
	color: #FFE4B5;
	font-weight: bolder;
}

.nav li:nth-child(1){
	transform: scale(0.9);
}

.nav li:nth-child(1) a{
	color: #CD853F;
	border-bottom: 4px solid #CD853F;
}

.nav_item:hover{
	transform: scale(0.9);
}

.nav_item a:hover{
	color: #CD853F;
	border-bottom: 4px solid #CD853F;

}

h4{
	color: #696969;
}


/*Main-------------------------------
------------------------------------*/

.main{
	margin-top: 30px;
	border: 2px solid #CD853F;
	border-radius: 20px;
	padding-right: 10px;
	background-color: #fff ;/*#DCDCDC*/
}

.img{
	height: 300px;
	position: relative;
}

img{
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
	margin: 50px 40px;
	border: 2px solid #CD853F;
}

section{
	font-family: 'Montserrat', sans-serif;

}

.contacts{
	padding-right: 10px;
	display: flex;
	justify-content: space-around;
}

.contacts a{
	text-decoration: none;
	color: #CD853F;
}
.contacts a:hover{
	opacity: 0.7;
}

.fa{
	padding-right: 5px;
	color:#CD853F;/* #006400;*/
	cursor: pointer;

}

.fa:hover{
	opacity: 0.7;
}

.main_text i{
	font-weight: 600;

}
